main{
    color: #A65353;
    max-width: 80%;
    height: 100%;
    margin: 0 auto;
}

h1{
    text-align: center;
}
.map{
    width: 800px;
    height: 500px;
   margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 900px) {
    .map {
        width: 500px;
        height: 350px;
    }
}