main{
    color: black;
    max-width: 80%;
    height: 100%;
    margin: 0 auto;
}

.news{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.News_wrapper{
    margin-top: 30px;
    border: 1px solid black;
}

.item > p >  img{
    cursor: pointer;
    width: 528px;
    height: 378px;
}

.New_clothes{
    margin-top: 30px;
    border: 1px solid black;
}
.new{
    margin-top: 40px;
}

.items > a > img{
    cursor: pointer;
    width: 250px;
    height: 300px;
    margin-right: 70px;
}
.items{
    display: block;
    margin: auto;
}

.content{
    margin-top: 100px;
    text-align: center;
}