main{
    color: #A65353;
    max-width: 80%;
    height: 100%;
    margin: 0 auto;
}

.news{
    display: flex;
    margin-top: 1%;
    justify-content: space-evenly;
    color: black;
}

.item > a >  img{
    max-width: 528px;
    width: 528px;
    max-height: 378px;
    height: 378px;
}

.item > p{
    text-align: center;
    font-size: 1.5vw;
}

.New_clothes{
    margin-top: 30px;
}
.new{
    margin-top: 40px;
}

.items > a > img{
    cursor: pointer;
    width: 250px;
    height: 300px;
    margin-right: 70px;
}
.items{
    display: flex;
    justify-content: space-between;
}

.content{
    margin-top: 100px;
    text-align: center;
}


    @media screen and (max-width: 1300px) {
        .item > a > img {
            max-width: 250px;
            width: 250px;
            max-height: 200px;
            height: 200px;
        }
        .items > a > img {
            max-width: 120px;
            width: 120px;
            max-height: 150px;
            height: 150px;
        }

        @media screen and (max-width: 800px) {
            .item > a > img {
                max-width: 250px;
                width: 250px;
                max-height: 200px;
                height: 200px;
            }
            .items > a > img {
                max-width: 120px;
                width: 120px;
                max-height: 150px;
                height: 150px;
            }
            .news {
                flex-direction: column;
            }
            .items{
                flex-direction: column;
            }
        }
    }
