main{
    color: #A65353;
    max-width: 80%;
    height: 100%;
    margin: 0 auto;
}

.news{
    display: flex;
    margin-top: 1%;
    justify-content: space-evenly;
    color: black;
}
.News_wrapper{
    margin-top: 2%;
    border: 1px solid black;
    border-radius: 2%;

}

.item > a >  img{
    max-width: 528px;
    width: 528px;
    max-height: 378px;
    height: 378px;
}

.item > p{
    text-align: left;
}

.New_clothes{
    margin-top: 30px;
}
.new{
    margin-top: 40px;
}

.items > a > img{
    cursor: pointer;
    width: 250px;
    height: 300px;
    margin-right: 70px;
}
.items{
    display: block;
    margin: auto;
}

.content{
    margin-top: 100px;
    text-align: center;
}

@media screen and (max-width: 1500px) {
    .item > a > img {
        max-width: 350px;
        width: 350px;
        max-height: 270px;
        height: 270px;
    }

    @media screen and (max-width: 1500px) {
        .items > a > img {
            max-width: 150px;
            width: 150px;
            max-height: 200px;
            height: 200px;
        }
    }
}
